# Pandas Exercise: Merging (MPG Cars)

### Step 1. Import the necessary libraries

In [84]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [85]:
cars1=pd.read_csv("C:\\Users\\Priyanka Panday\\Downloads\\Bharti\\3. Pandas Basic Exercises\\Data\\Pandas Exercise6 files\\cars1.csv")
cars2=pd.read_csv("C:\\Users\\Priyanka Panday\\Downloads\\Bharti\\3. Pandas Basic Exercises\\Data\\Pandas Exercise6 files\\cars2.csv")

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [86]:
cars1=cars1.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12', 'Unnamed: 13'], axis =1)

### Step 5. What is the number of observations in each dataset?

In [87]:
print cars1.shape[0]
print cars2.shape[0]

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [88]:
cars=cars2.join(cars1, lsuffix='_l', rsuffix='_r')
cars.tail(5)

,mpg_l,cylinders_l,displacement_l,horsepower_l,weight_l,acceleration_l,model_l,origin_l,car_l,mpg_r,cylinders_r,displacement_r,horsepower_r,weight_r,acceleration_r,model_r,origin_r,car_r
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,29.0,4.0,85.0,52,2035.0,22.2,76.0,1.0,chevrolet chevette
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,24.5,4.0,98.0,60,2164.0,22.1,76.0,1.0,chevrolet woody
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,29.0,4.0,90.0,70,1937.0,14.2,76.0,2.0,vw rabbit
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [91]:
owners=np.random.randint(15000,73000,size=200)

### Step 8. Add the column owners to cars

In [92]:
cars['owners']= owners

cars.head(2)

,mpg_l,cylinders_l,displacement_l,horsepower_l,weight_l,acceleration_l,model_l,origin_l,car_l,mpg_r,cylinders_r,displacement_r,horsepower_r,weight_r,acceleration_r,model_r,origin_r,car_r,owners
0,33.0,4,91,53,1795,17.4,76,3,honda civic,18.0,8.0,307.0,130,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu,15186
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se,15.0,8.0,350.0,165,3693.0,11.5,70.0,1.0,buick skylark 320,63851